
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body style="background:#F2F2F2; padding: 65px 15px">
<table bgcolor="#ffffff" style="border-radius: 10px;box-shadow: 0px 0px 10px rgba(0,0,0,0.05);margin: 0 auto; font-family: 'Product Sans', sans-serif;font-size: 18px;color: #202020;font-weight: normal;line-height: 1.5;" border="0" cellpadding="50px" cellspacing="0" height="100%" width="500px" id="bodyTable">
    <tr><td style="padding:35px;" align="center" valign="top"><img src="https://hrm-mob-dev.s3.amazonaws.com/forgot-password-icon-18348.jpg" alt="team"></td></tr>
    <tr><td style="padding: 20px;">Hi,</td></tr>
    <tr><td style="padding: 20px;">We were told that you forgot your password .</td></tr>
    <tr><td style="padding: 20px;">To reset your password, please click this link:  <br /><a style="color: #FF0C40;" href="<%=link%>"><%=link%></a></td></tr>
    <tr><td style="padding: 20px;">Thanks, <br />The backend team</td></tr>
    <tr><td style="padding: 20px;">P.S. If you didn’t request this email, you may safely ignore it.</td></tr>
    <tr style="font-size: 14px;text-align: center;"><td style="border-top: 1px solid #E0E0E0;padding: 20px;margin-top: 35px;display: block;">© 2021-2022 team, All Rights Reserved.</td></tr>
</table>

</body>
</html>
